
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(29, 35, 32);
    color: rgb(210, 226, 226);
    text-decoration: none;
}
main img{
   
    
    /* background-image:url("pexels-photo-939331.jpg");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-attachment: fixed; */
    height: 80vh;
    width: fit-content;

    }

body{
    background-color: rgb(196, 197, 195);
    color: black;
}

/* ------------------------------------------------------------------- */

button a{
    color: black;
}

footer a{
    cursor: pointer;
}



