
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(238, 235, 38);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

body{
    background-image:url("download\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    }

/* ------------------------------------------------------------------- */

button a{
    color: black;
}

footer a{
    cursor: pointer;
}



