
*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("26-263385_light-colour-background-images-hd-light-color-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    }

/* ------------------------------------------------------------------- */

button a{
    color: black;
}

footer a{
    cursor: pointer;
}