
*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("3d-gray-background-product-display-podium-scene-with-leaf-geometric-platform-grey-background-3d-render-with-podium-stand-to-show-cosmetic-product-stage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    }

/* ------------------------------------------------------------------- */

button a{
    color: black;
}

footer a{
    cursor: pointer;
}