
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #5e1054;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body{
    /* background-image:url("Untitled.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
    background-color: rgb(205, 168, 240);
    }

/* ------------------------------------------------------------------- */

button a{
    color: black;
}

footer a{
    cursor: pointer;
}



